# パッケージ名を正しく設定
lombok.log.custom.declaration=com.example.demo.logger.CustomLogger org.slf4j.LoggerFactory.getLogger(TYPE)
lombok.log.custom=com.example.demo.annotation.CustomLog

# ロガーフィールド設定
lombok.log.fieldName = logger
lombok.log.fieldIsStatic = false

# これ以降、上位ディレクトリの lombok.config を読まない
config.stopBubbling = true